/target
/build
/bin
/src/debug/
/src/test/resources/Krakatau
/src/test/resources/testcases/*.class
/sn/
/libraries/
/samples/
/issues/
.classpath
.project
.gradle
deobfuscator.iml
/.settings
/.idea
*.jar
*.txt
*.ser
*.DS_Store
*.yaml
deobfuscator.jar